<div class="page-padding">
  <div class="backing bg-light">
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand">ЕИС</a>
        <ul ngbNav class="navbar-nav">
          <li ngbNavItem class="nav-item active">
            <a ngbNavLink class="nav-link">Проекты <span class="sr-only">(current)</span></a>
          </li>
          <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link">Стадии</a>
          </li>
        </ul>
    </nav>
  <router-outlet></router-outlet>
</div>
