.stage-res-spacing {
  margin-top: 1em;
}

.stage-result-form-btn {
  width: 100%;
  margin-bottom: 2em;
}

.scrollbox {
  height: 50rem;
  overflow-y: scroll;
}

.block-button-margin {
  margin-top: 1em;
}
